/* fonts */

.tagline {
	font-family: 'Audiowide', cursive;
}

.navbar-nav {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12pt;	
}

.row {
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	font-family: 'Audiowide', cursive;
}

h2 {
	font-family: 'Audiowide', cursive;
}

p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12pt;
    line-height: 150%;
}

.carousel-caption h3 {
    font-family: 'Audiowide', cursive;
    font-size: 20pt;
}
