/*	*************************************
	Slides - Theresa Xu
	************************************* */

/*#slidePics {
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 80%
	width: 40%
}*/

#slidePics {
	-webkit-size: cover;
	-moz-size: cover;
	-o-size: cover;
	size: cover;
}

.slides {
	position: relative;
	display: table;
	width: 100%;
	background-color: transparent;
	padding-top: 25px;
	padding-bottom: 25px;
	height: 100%
	width: 100%;
}

#right-arrow {
	height: 400px;
	width: 100px;
	top: 45%;
	right: 0px;
	position: absolute;
}

#left-arrow {
	height: 400px;
	width: 100px;
	top: 45%;
	left: 0px;
	position: absolute;
}

.rarrow {
	height: 50px;
	width: 50px;
	right: 0px;
}

.larrow {
	height: 50px;
	width: 50px;
	left: 0px;
}

/*	*************************************
	Base - Sarah Kingsley 4ed6fa
	************************************* */

body {
	background-color: transparent;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em; /* this is a relative font size */
	line-height: 2em; /* for readability */
	color: #666666; /* for readability */
}

.first-half-sentence {
    font-family: 'Catamaran', sans-serif;
	font-size: 1.5em; /* this is a relative font size */
	line-height: 2em; /* for readability */
	color: #C2C2C2; /* for readability */
}

h2{
	font-family: 'Catamaran', sans-serif;
	color: #B2B2B2;
}

#information{
	padding:20px;
}

#top-part h1 {
	font-family: 'Catamaran', sans-serif;
	font-size: 4em;
	color: black;
	margin-top:10px;
	padding:10px;
	text-align: center;
	background-color: rgba(255, 255, 255, .45);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}


/*RESOURCE: http://stackoverflow.com/questions/24127521/change-bootstrap-navbar-background-color-and-font-color*/
.navbar-default {
  background-color: white;
  border-color: transparent;
  border-radius: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style:bold;
  font-size: 1.25em;
  
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: black;
}

.navbar-brand,
.navbar-nav > li > a {
  background-color: transparent;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #C2C2C2;
	color: #C2C2C2;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #eeeeee;
	border-color: #eeeeee;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #eeeeee;
	color: #eeeeee;
	box-shadow: none;
}

#team img{
	max-height = 50px;
	max-width = 50px;
}

